pandas
pyyaml

# analyse.ipynb
matplotlib
plotly
kaleido
nbformat
voila

# categorizer_training.ipynb
scikit-learn
rapidfuzz

# transaction_importer.py
requests

# transaction_editor.py
windows-curses